body {
  background-color: #fafafa;
  margin: 0;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

nav {
  position: fixed;
  /* display: grid; */
  top: 0;
  background-color: #fff;
  height: 3.3em;
  line-height: 3.3em;
  width: 100%;
  border-bottom: 0.1em solid #dbdbdb;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* grid-template-columns: 2fr 1fr 1fr 0.5fr; */
}
.wrapper {
  display: flex;
  width: 55%;
  /* background-color: green; */
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo > img {
  vertical-align: middle;
}

.search {
  background: #fafafa;
  height: 2em;
  /* margin: 0.8em; */
  width: 300px;
  border: 0.07em solid #dbdbdb;
  border-radius: 0.2em;
}

.search::placeholder {
  text-align: center;
  color: #808080;
}

.nav-links {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.nav-links i {
  transform: scale(1.6);
  color: #252525;
}

.container {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 0.2px solid hsl(0, 0%, 86%);
  margin-top: 5em;
  /* margin-bottom: 2em; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#profilePhotoInput {
  display: none;
}

.profile-photo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
  .profile-photo {
    width: 5em;
    height: 5em;
  }
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-photo img:hover {
  opacity: 0.7;
}

.profile-info {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 500px;
}

@media screen and (max-width: 1000px) {
  .profile-info {
    margin: 0;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
  }
  .wrapper {
    width: 90%;
  }
  .search {
    width: 30%;
  }
  .nav-links {
    width: 35%;
  }

  .edit-bio-form input {
    width: 100%;
  }
  .bio {
    width: 100%;
  }
  .profile-info .about {
    text-align: center;
  }
}

.profile-info .name {
  font-size: 1.7em;
  color: #545454;
  margin-bottom: 0;
}

.profile-info .about {
  font-size: 1.2em;
  color: #545454;
}

.profile-info button {
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
}

.profile-info button:hover {
  background-color: #0081d6;
}
.edit-bio-form {
  display: flex;
  flex-direction: column;
}
.edit-bio-form input {
  width: 250px;
  height: 2em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-bio-form button {
  margin: 1em 1em 0 0;
}

.edit-bio-form .cancel-button {
  background-color: #890000;
}

#addPhotoInput {
  display: none;
}

.add-photo-button {
  transform: scale(3);
  position: fixed;
  bottom: 5em;
  right: 7em;
  cursor: pointer;
}
.clear-photo-button {
  transform: scale(3);
  position: fixed;
  bottom: 5em;
  right: 7em;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  height: 17.5em;
  width: 17.5em;
  /* background: #000; */
  cursor: pointer;
  margin: 20px 20px;
}

.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover .item-image {
  opacity: 0.7;
}

.delete-button {
  opacity: 0;
  position: absolute;
  margin-left: -12em;
  margin-top: 11em;
  padding: 0.1em 0.3em;
  background-color: #890000;
  color: #fff;
  border: 1px solid #c8c8c8;
  transform: scale(1.5);
}

.delete-button:hover {
  background-color: #670000;
  color: #fff;
}

.item:hover .delete-button {
  opacity: 1;
}
